<% if reminder.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(reminder.errors.count, "error") %> prohibited this reminder from being saved:</h2>

    <ul>
    <% reminder.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
    
<div class="card-body">
  <%= form_with(model: reminder, local: true, class: 'form-horizontal') do |form| %>
    <div class="form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control', type: 'text' %>
    </div>

    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: 'form-control', type: 'text' %>
    </div>

    <div class="form-group">
      <%= form.label :day_of_month %>
      <%= form.select :day_of_month, options_for_day_select, class: 'selectpicker form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :time_of_day %>
      <%= form.time_select :time_of_day, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn btn-info' %>
    </div>
<% end %>
</div>