<h1>Editing Reminder - <%= @reminder.title %></h1>
<div class='card'>
	<%= render 'form', reminder: @reminder %>
</div>
<%= link_to 'Back', reminders_path, class: 'btn btn-secondary' %>
<%= link_to 'Show', @reminder, class: 'btn btn-secondary float-right' %>