<h1>Reminders</h1>
<p id="notice"><%= notice %></p>
<div class='card'>
  <table class='table'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Message</th>
        <th>DoM</th>
        <th>ToD</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reminders.each do |reminder| %>
        <tr>
          <td><%= reminder.title %></td>
          <td><%= reminder.description %></td>
          <td><%= reminder.day_of_month %></td>
          <td><%= reminder.time_of_day.strftime('%H:%M:%S') %> o'clock</td>
          <td><%= link_to 'Show', reminder, class: 'btn-sm btn-info' %></td>
          <td><%= link_to 'Edit', edit_reminder_path(reminder), class: 'btn-sm btn-info' %></td>
          <td><%= link_to 'Destroy', reminder, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-sm btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to 'New Reminder', new_reminder_path, class: 'btn btn-secondary' %>
