<h1><%= "Overview Reminder - #{@reminder.title}" %></h1>
<p id="notice"><%= notice %></p>
<div class='card'>
	<p>
	  <strong>Title:</strong>
	  <%= @reminder.title %>
	</p>

	<p>
	  <strong>Message:</strong>
	  <%= @reminder.description %>
	</p>

	<p>
	  <strong>Day of Month:</strong>
	  <%= @reminder.day_of_month %>
	</p>

	<p>
	  <strong>Time of Day:</strong>
	  <%= @reminder.time_of_day.strftime('%H:%M o\'clock') %>
	</p>
</div>
<%= link_to 'Back', reminders_path, class: 'btn btn-secondary' %>
<%= link_to 'Edit', edit_reminder_path(@reminder), class: 'float-right btn btn-secondary' %>
