// Place all the styles related to the Reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-secondary {
	color: white !important;
}

.btn-info {
	color: white !important;
}

.btn-danger {
	color: white !important;
}
